{{ lookup('file', init_file ) }}
{{ lookup('file', utils_file ) }}
{{ lookup('file', path_file ) }}
{{ lookup('file', iso8601_file ) }}
{{ lookup('file', glob_file ) }}
{{ lookup('file', stat_file ) }}
{{ lookup('file', textwrap_file ) }}
{{ lookup('file', utility_description_file ) }}
{{ lookup('file', symbolic_mode_file ) }}
{{ lookup('file', argparse_file ) }}
{{ lookup('file', columnize_file ) }}
{{ lookup('file', cmd_file ) }}
{{ lookup('file', alias_file ) }}
{{ lookup('file', tabulate_file ) }}
{{ lookup('file', environ_file ) }}
{{ lookup('file', completers_file ) }}
{% for utility in utilities %}
{{ lookup('file', utilities[utility] ) }}
{% endfor %}
{{ lookup('file', ush_file ) }}
{{ lookup('file', glxsh_file ) }}
